


.Certificate2{
    font-size: 20px;
    item-align: center;
    justify-content: center;
    color: #006c68;
}
.Certificate1{
    font-size: 20px;
    item-align: center;
    justify-content: center;
    color: #006c68;
}
.Certificate3{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    color: #006c68;
}
.Certificate4{
    font-size: 20px;
    item-align: center;
    justify-content: center;
    color: #006c68;
}
.Certificate5{
    font-size: 20px;
    item-align: center;
    justify-content: center;
    color: #006c68;
}
.Certificate6{
    font-size: 20px;
    item-align: center;
    justify-content: center;
    color: #006c68;
}
.HEAD{
    background-color: #006c68;
    color: white;
    padding: 50px;
    item-align: left;
    font-size: 25px;
}
.picture{
    max-width: 120px;
}
.task-menu li{
    margin: 0;
}


.task-menu a  {
    display: block;
    padding: 17px 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #006c68;
    border: none; /* ลบขอบของปุ่ม */
    cursor: pointer; /* เปลี่ยนรูปชี้เมาส์ */
            
}
.task-menu {
    list-style: none;
    padding: 10;
    margin: 0;
    display: flex;
    background-color: #006c68;
}
    

    
.task-menu a:hover {
    background-color: #00524f;
    
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;  
}
.Gifdriving{
    display: flex;
    align-items: center;
    gap: 20px;
}
.Basic{

    max-width: fit-content;
    display: flex;
    align-items: center;
}
.รายละเอียด1{
    font-size: 20px;
    text-align: center;
}

.รายละเอียด2{
    font-size: 20px;
    text-align: center;
}
.รายละเอียด3{
    font-size: 20px;
    text-align: center;
}
.รายละเอียด4{
    font-size: 20px;
    text-align: center;
}
.รายละเอียด5{
    font-size: 20px;
    text-align: center;
}
.รายละเอียด6{
    font-size: 20px;
    text-align: center;
}
.button{
    display:  inline-block;
    padding: 60px 120px;
    background-color: rgb(0, 172, 202);
    color: aliceblue;
    text-decoration: none;
    border-radius:  5px;
    text-align: center;
}
.button:hover{
    background-color: rgb(0, 158, 158);
}
.more{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.font{
    font-size: 20px;
    text-align: center;
}
